# Python virtual environment
.venv/
venv/

# Environment variables / secrets
.env.example
.env
data/users.json
data/audit.log
data/audit-*.log

# Python cache
__pycache__/
*.pyc

# IDE
.vscode/
.idea/